<a href="https://colab.research.google.com/github/oompaloompa77/Repositorio_Base_Mariana/blob/main/md3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#Exercicio 1
import pandas as pd

#Exercicio 2
funcionarios = {
    "nome": [
        "Ana Souza", "Bruno Lima", "Carla Ferreira", "Diego Santos", "Eduarda Nascimento",
        "Felipe Almeida", "Giovana Ramos", "Henrique Costa", "Isabela Araujo", "João Pereira",
        "Karina Oliveira", "Lucas Rodrigues", "Mariana Machado", "Nathan Silva", "Olívia Barbosa"
    ],
    "unidade": [
        2, 1, 3, 2, 1,
        3, 1, 2, 3, 1,
        2, 3, 1, 3, 2
    ],
    "escala_noturna": [
        False, True, False, True, False,
        True, False, True, False, True,
        False, True, False, True, False
    ],
    "vendas": [
        18754.32, 24321.89, 19876.45, 27543.22, 15789.66,
        29123.10, 22345.99, 26789.40, 19456.78, 28345.55,
        17654.12, 23876.99, 20543.70, 29654.88, 18321.44
    ]
}
df = pd.DataFrame(funcionarios)

# print(pd.DataFrame(funcionarios))
# df['nome']

# df['unidade']

# df['escala_noturna']

# df['vendas']

# print(pd.Series(funcionarios))
# print(df['unidade'].value_counts())

# print(df['escala_noturna'].value_counts())
lista = df[df['vendas']< 20000]
print(lista)

                  nome  unidade  escala_noturna    vendas
0            Ana Souza        2           False  18754.32
2       Carla Ferreira        3           False  19876.45
4   Eduarda Nascimento        1           False  15789.66
8       Isabela Araujo        3           False  19456.78
10     Karina Oliveira        2           False  17654.12
14      Olívia Barbosa        2           False  18321.44